.scrollContainer {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* Chrome / Edge / Safari 滾輪樣式 */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #111;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #76fff8, #0072ff, #00c6ff);
    background-size: 100% 800%;
    border-radius: 10px;
    animation: gradientFlow 2s ease infinite;

    &:hover {
      background: linear-gradient(180deg, #51b3ff, #3cffff, #51b3ff);
      background-size: 100% 800%;
      animation: gradientFlow 2s ease infinite;
    }
  }

  /* Firefox 滾輪樣式 */
  scrollbar-width: thin;
  scrollbar-color: #00c6ff #111;
}

@keyframes gradientFlow {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
