/* Home Section */
.homeSection {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, #0a0e12 0%, #1a2332 40%, #2d4456 80%, #3d5a6b 100%);
}

.particleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
